html
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title Calculator
        if useExtrenalStyles
            link(rel="stylesheet", href="/build/app.css")

    body
        #mount

        script(src=scriptRoot + "/vendor.js")
        script(src=scriptRoot + "/app.js")
